.desktop {
  ion-router-outlet {
    margin-top: 72px;
  }

  .logo {
    max-height: 40px;
  }

  ion-toolbar {
    --background: #374168;
  }

  .link {
    --color: var(--ion-color-light);
  }

  .active-link {
    --color: var(--ion-color-primary);
  }
}

