<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/cart" class="badge-counter">
        <ion-badge color="danger" *ngIf="savedCart?.length">{{ savedCart?.length }}</ion-badge>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="sliderOptions">
    <ion-slide #ionSlide *ngFor="let slide of slides" [style.background]="setBackgroundImage(slide, ionSlide)">
      <h1>{{ slide.title }}</h1>
      <br>
      <ion-button routerLink="/tabs/menu">View Menu</ion-button>
    </ion-slide>
  </ion-slides>
  <h6 class="ps-note">
    <small>
    <i>***Important Notes: We only deliver within Munich city currently. We are expanding soon. Stay Tuned!</i>
    </small>
  </h6>
</ion-content>
