ion-slides {
  height: 100%;

  ion-slide {
    flex-direction: column;

    h1 {
      font-size: 3rem;
      color: #fff;
    }
  }
}

.ps-note {
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 999;
  color: #fff;
  text-align: right;
  max-width: 80vw;
}
