<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/address-list"></ion-back-button>
    </ion-buttons>

    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="desktop-container">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>Sub Total:</ion-col>
        <ion-col class="ion-text-right">{{ order.subTotal | currency }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>VAT Total:</ion-col>
        <ion-col class="ion-text-right">{{ order.totalVat | currency }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Delivery Fees:</ion-col>
        <ion-col class="ion-text-right">{{ order.delivery_fees | currency }}</ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col><b>Final Total:</b></ion-col>
        <ion-col class="ion-text-right"><b>{{ order.finalTotal | currency }}</b></ion-col>
      </ion-row>
      <hr>
    </ion-grid>


    <ion-list lines="full">
      <ion-list-header>
        <ion-label>Payment Options</ion-label>
      </ion-list-header>
      <ion-radio-group (ionChange)="choosePaymentType($event)">
        <ion-item *ngFor="let payment of paymentTypes">
          <ion-label>{{ payment.type }}</ion-label>
          <ion-radio slot="start" color="primary" [value]="payment.type"></ion-radio>
          <ion-thumbnail slot="end">
            <ion-img *ngIf="payment.logo" [src]="payment.logo"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button class="ion-margin" expand="block"
                [disabled]="!paymentType"
                (click)="onCheckoutBtnClicked()">
      Pay Now
    </ion-button>
  </div>
</ion-content>
